#Cuerpo {
    zoom: 100%; 
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--fondo);
    background-size: cover;
}

#Fondo {
    margin: 25px 0;
    width: 100%;
    max-width: 720px; /* Limitar ancho máximo */
    padding: 40px;
    border-radius: 25px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

img {
    width: 187px;
    height: 105px;
    margin-bottom: 20px;
}

h1 {
    color: #0099B2;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

h4 {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}

.codigo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.Reenviar {
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.Reenviar:hover {
    opacity: 40%;
}

.verificacion {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center; /* Centrar checkbox y texto */
}

.verificacion h4 {
    margin-left: 10px;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F0F0F0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Cancelar {
    background-color: #D3EFF3;
    color: #5CB4B5;
}

.Siguiente {
    background-color: #0099B2;
}

button:hover {
    opacity: 80%;
}

.codigo {
    width: 460px;
    height: 60px;
    border-radius: 25px;
    font-family: 'Quicksand', sans-serif;
    background: #F0F0F0;
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}


.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  