<nav class="navbar" *ngIf="isLoggedIn">
  <div class="navbar-brand">
    <img src="assets/Logo.png" alt="PetWellness Logo">
  </div>
  <ul class="navbar-links">
    <li *ngIf="userRole === 'Veterinario'"><a routerLink="/inicio-vet" routerLinkActive="active">Inicio</a></li>
    <li *ngIf="userRole === 'Dueños'"><a routerLink="/inicio-dueno" routerLinkActive="active">Inicio</a></li>
    <li *ngIf="userRole === 'Veterinario'"><a routerLink="/consultas" routerLinkActive="active">Consultas</a></li>
    <li *ngIf="userRole === 'Dueños'"><a routerLink="/consultas-duenio" routerLinkActive="active">Consultas</a></li>
    <li *ngIf="userRole === 'Veterinario'"><a routerLink="/mascotas" routerLinkActive="active">Mascotas</a></li>
    <li *ngIf="userRole === 'Dueños'"><a routerLink="/mascotas" routerLinkActive="active">Mascotas</a></li>
  </ul>
  <div class="navbar-actions">
    <div class="search-container">
      <button class="search-button">
        <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
      </button>
      <input type="text" class="search-input" placeholder="Buscar...">
    </div>
    <!-- Carrito de compras: Solo visible para la vista de dueño -->
    <div *ngIf="isCartVisible" class="shopping-cart-container">
      <button class="shopping-cart-button" (click)="toggleCart()">
        <mat-icon aria-hidden="false" fontIcon="shopping_cart"></mat-icon>
        <span class="notification-count" *ngIf="notificationCount > 0">{{ notificationCount }}</span>
      </button>
  <!--<header class="navbar" *ngIf="isLoggedIn">
    <div class="navbar-logo">
        <img src="/assets/Logo.png" alt="logo">
    </div>
    <nav class="navbar-nav">
        <div class="container-nav">
            <div class="label" routerLink="" (click)="setActiveLabel('Inicio')" [ngClass]="{'active': activeLabel === 'Inicio'}">Inicio</div>
            <div class="label" routerLink="/consults/consultas-duenio" (click)="setActiveLabel('Consultas')" [ngClass]="{'active': activeLabel === 'Consultas'}">Consultas</div>
            <div class="label" routerLink="" (click)="setActiveLabel('Mascotas')" [ngClass]="{'active': activeLabel === 'Mascotas'}">Mascotas</div>
        </div>
        <div class="container-option">
            <div class="option"><img src="/assets/carrito-compras.png" alt="carrito de compras"></div>
            <div class="option"><img src="/assets/notificacion.png" alt="notificacion"></div>
        </div>
    </nav>
    <div class="navbar-user">
        <img src="/assets/Dueno.png" alt="dueño"  (click)="onLogout()">-->
    </div>
    <!-- Notificaciones: Visible para ambos roles -->
    <div class="notification-container">
      <mat-icon aria-hidden="false" fontIcon="notifications"></mat-icon>
      <span class="notification-count" *ngIf="notificationCount > 0">{{ notificationCount }}</span>
    </div>
  
    <div class="navbar-user">
      <img src="/assets/Dueno.png" alt="dueño"  (click)="onLogout()">
    </div>
  </div>
  
</nav>
