<div>
  <header>
    <h2>Tus Estadísticas</h2>
  </header>
  <div class="container">
    <!-- Conteo por especie -->
    <div class="species-count">
      <h3>Mascotas atendidas</h3>
      <ul>
        <li>🐶 Perros: {{ totalPerros }}</li>
        <li>🐱 Gatos: {{ totalGatos }}</li>
      </ul>
    </div>

    <!-- Consultas realizadas -->
    <div class="statistics">
      <h3>Consultas Realizadas</h3>
      <p>📋 Total Consultas: {{ consultas.length }}</p>
      <p>⏳ Consultas Pendientes: {{ consultasPendientes }}</p>
      <p>✅ Consultas Completadas: {{ consultasCompletadas }}</p>
    </div>
  </div>
</div>
