.tareas-de-hoy .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tareas-de-hoy h2 {
    margin: 0;
    color: #003049;
  }
  
  .task-count {
    background: #54AFB2;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .tareas-de-hoy ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
  }
  
  .tareas-de-hoy ul li {
    margin-bottom: 10px;
  }
  
  .task-container {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #54AFB2;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  .icon img {
    width: 24px;
    height: 24px;
  }
  
  .task-details {
    flex-grow: 1;
  }
  
  .task-details p {
    margin: 0;
    font-size: 16px;
    color: #003049;
    font-weight: 600;
  }
  
  .task-details time {
    font-size: 12px;
    color: #726C6C;
  }
  
  .external-link {
    font-size: 16px;
    color: #003049;
    cursor: pointer;
  }
  
  .ver-mas-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; 
  }
  
  .ver-mas {
    background: none;
    border: none;
    color: #003049;
    font-size: 14px;
    cursor: pointer;
  }
  
  .ver-mas:hover {
    text-decoration: underline;
  }