.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    bottom: 0;
    box-sizing: border-box; 
  }
  
  .footer-left,
  .footer-center {
    display: flex;
    align-items: center;
  }
  
  .footer-left img {
    height: 40px;
    margin-right: 10px;
  }
  
  .footer-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .footer-center p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }