<div class="homeduenio">
    <header>
      <h1>Bienvenido <span>Jose y Chewbacca!</span></h1>
    </header>
    <main>
      <div class="dashboard">
        <section class="dashboard-item general-tareas">
            <div class="tareas-de-hoy">
                <app-tareas></app-tareas>           
            </div>
        </section>                
        <!-- Mascotas -->
        <section class="dashboard-item mascotas">
            <app-animales></app-animales>
        </section>         
        <section class="dashboard-item calendar">
          <div class="calendar-header">
            <h2>Abril 2024 <span class="dropdown-icon">▼</span></h2>
            <button class="add-reminder" (click)="openDialog()">+ Add recordatorio</button>
          </div>
          <div class="calendar">
            <div class="calendar-header">
              <span class="prev" (click)="prev()">&lt;</span>
              <ul class="days">
                <li *ngFor="let day of days">{{ day }}</li>
              </ul>
              <span class="next" (click)="next()">&gt;</span>
            </div>
            <div class="calendar-body">
              <ul class="dates">
                <li *ngFor="let date of dates; let i = index" [class.active]="i === activeIndex">
                  {{ date }}
                </li>
              </ul>
            </div>
          </div>          
          <ul class="appointments">
            <li *ngFor="let appointment of appointments">
              <div class="task-container">
                <span class="icon"><img [src]="appointment.icon" alt="icon"></span>
                <div class="task-details">
                  <p>{{ appointment.name }}</p>
                  <time>{{ appointment.time }}</time>
                </div>
              </div>
            </li>
          </ul>          
        </section> 
        <!-- Proximas Consultas -->       
        <section class="dashboard-item proximo-paciente">
          <app-prox-consultas></app-prox-consultas>        
        </section>
      </div>
    </main>
</div>
