<div class="homeduenio">
    <header>
      <h1>Bienvenido <span>Jose y Chewbacca!</span></h1>
    </header>
    <main>
      <div class="dashboard">
        <section class="dashboard-item general-tareas">
            <div class="tareas-de-hoy">
                <app-tareas></app-tareas>           
            </div>
        </section>                
        <!-- Mascotas -->
        <section class="dashboard-item mascotas">
            <app-animales></app-animales>
        </section>   
        <!-- Recordatorios -->      
        <section class="dashboard-item calendar">
          <div class="calendar-header">
            <h2>{{ currentMonth }} {{ currentYear }} <span class="dropdown-icon">▼</span></h2>
            <div *ngIf="showMonthDropdown" class="month-dropdown">
              <ul>
                <li *ngFor="let month of months; let i = index" (click)="selectMonth(i)">
                  {{ month }}
                </li>
              </ul>
            </div>
            <button class="add-reminder" (click)="openDialog()">+ Add recordatorio</button>
            
          </div>     
          <div class="calendar-navigation">
            <span class="prev" (click)="prev()">&lt;</span>
            <div class="dates-container">
              <ul class="dates">
                <li *ngFor="let item of daysAndDates; let i = index" [class.active]="i === activeIndex">
                  <span class="day">{{ item.day }}</span>
                  <span class="date">{{ item.date }}</span>
                </li>
              </ul>
            </div>
            <span class="next" (click)="next()">&gt;</span>
          </div>                                       
          <ul class="appointments">
            <li *ngFor="let appointment of appointments">
              <div class="task-container">
                <span class="icon"><img [src]="appointment.icon" alt="icon"></span>
                <div class="task-details">
                  <p>{{ appointment.name }}</p>
                  <time>{{ appointment.time }}</time>
                </div>
                <button class="delete-btn">🗑️</button>
              </div>
            </li>
          </ul>
        </section>
        <!-- Proximas Consultas -->       
        <section class="dashboard-item proximo-paciente">
          <app-prox-consultas></app-prox-consultas>        
        </section>
      </div>
    </main>
</div>
